body {
	font-family: 'Dyna Puff';
}

/*div{
	width: 200px;
	height: 50px;
	background-color: orangered;
	padding: 10px;
	font-family: cartun;
	border-radius: 50px;
	text-align: center;
	position: center;
}*/

.texto {
	padding: ;
	width: 400px;
	height: 100px;
	background-color: #F28E0D;
	color: white;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	border-radius: 40px;
	text-decoration: none;
	box-shadow: none;
}

.texto:hover {
	font-family: Brush Script MT;
	background-color: #CDFF30;
	border-radius: 50px 10px 50px 10px;
	color: gray;
	text-decoration: none;
}

.texto:active {
  background-color: #59FF30;
  color: gray;
  box-shadow: #C6ACE7 10px 10px 20px;
  text-decoration: none;

}

/*.texto:visited{
	color: #E76558;
	background-color: #089389;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: #C6ACE7 10px 10px 20px;
	-moz-box-shadow: #C6ACE7 10px 10px 20px;
	-webkit-box-shadow: #C6ACE7 10px 10px 20px;
}*/
.texto:focus{
	text-decoration: none;
}
